# emacs backup files
*~

# java output directory
java/output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
python/.Python
python/env/
python/build/
python/develop-eggs/
python/dist/
python/downloads/
python/eggs/
python/.eggs/
python/lib/
python/lib64/
python/parts/
python/sdist/
python/var/
python/wheels/
python/*.egg-info/
python/.installed.cfg
python/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
python/*.manifest
python/*.spec

# Installer logs
python/pip-log.txt
python/pip-delete-this-directory.txt

# Unit test / coverage reports
python/htmlcov/
python/.tox/
python/.coverage
python/.coverage.*
python/.cache
python/nosetests.xml
python/coverage.xml
python/*.cover
python/.hypothesis/

# Translations
python/*.mo
python/*.pot

# Django stuff:
python/*.log
python/local_settings.py

# Flask stuff:
python/instance/
python/.webassets-cache

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore "scratch" C file t.c
t.c

# ignore VSCode files
.vscode
