{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} XTC EOD Charts {% endblock %}</h1>
  <form method="post">
    <fieldset>
      <legend>EOD Charts</legend>
      <label for="stocks">Stock(s)</label>
      <input type="text" name="stocks" placeholder="Stocks" value="{{ stx }}"/>
      <br>
      <label for="datetime">Datetime</label>
      <input type="date" name="datetime"
             placeholder="Datetime"
             value="{{ dt }}"/>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% for chart in charts %}
    <img src="data:image/png;base64,{{ chart['figdata_png'] }}" width="1500">
  {% endfor %}
{% endblock %}
