{% extends 'base.html' %}

{% block content %}
{% if refresh is defined and refresh|int != 0 %}
  <script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', "{{ refresh }}");
  </script>
{% endif %}

  <br>
  <br>
  <br>
  <h3>Market {{ market_name }} </h3>
  <p>The market date is {{ market_date }}, the datetime is {{ market_dt }}</p>

  <h4>Portfolio</h4>
  <table>
    <tr>
        <th>Stock</th>
        <th>Direction</th>
        <th>Shares</th>
        <th>In Price</th>
        <th>Current Price</th>
        <th>PnL</th>
        <th>Target</th>
        <th>Stop-Loss</th>
        <th>RRR</th>
    </tr>
      {% for pf_line in portfolio %}
        <tr>
            <td>{{ pf_line[0] }}</td>
            <td>{{ pf_line[1] }}</td>
            <td>{{ pf_line[2] }}</td>
            <td>{{ pf_line[3] }}</td>
            <td>{{ pf_line[4] }}</td>
            <td>{{ pf_line[5] }}</td>
            <td>{{ pf_line[6] }}</td>
            <td>{{ pf_line[7] }}</td>
            <td>{{ pf_line[8] }}</td>
        </tr>
      {% endfor %}
  </table>
  <br>
  {% if pf_charts|length > 0 %}
    {% for chart in pf_charts %}
    <fieldset>
      <legend>{{ chart['name'] }}</legend>
      <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
      <br>
      <form style="display: none" target="_blank" rel="noopener noreferrer" action="/stk_analysis" method="post">
        <input type="hidden" name="stk" value="{{ chart['name'] }}">
        <input type="hidden" name="stk_dt" value="{{ market_dt }}">
        <input type="hidden" name="market_name" value="{{ market_name }}">
        <button type="submit" id="button_analysis_{{ chart['name'] }}"> </button>
      </form>
      <label style="text-decoration: underline" for="button_analysis_{{ chart['name'] }}"> Analysis </label>
    </fieldset>
    {% endfor %}
  {% endif %}
  {% if wl_charts|length > 0 %}
    <h4>Watchlist</h4>
    {% for chart in wl_charts %}
    <fieldset>
      <legend>{{ chart['name'] }}</legend>
      <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
      <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
      <br>
      <form style="display: none" target="_blank" rel="noopener noreferrer" action="/stk_analysis" method="post">
        <input type="hidden" name="stk" value="{{ chart['name'] }}">
        <input type="hidden" name="stk_dt" value="{{ market_dt }}">
        <input type="hidden" name="market_name" value="{{ market_name }}">
        <button type="submit" id="button_analysis_{{ chart['name'] }}"> </button>
      </form>
      <label style="text-decoration: underline" for="button_analysis_{{ chart['name'] }}"> Analysis </label>
      &nbsp&nbsp
      <form style="display: none" target="_blank" rel="noopener noreferrer" action="/wl_mgmt" method="post">
        <input type="hidden" name="stk" value="{{ chart['name'] }}">
        <input type="hidden" name="market_name" value="{{ market_name }}">
        {% if chart['name'] in watchlist %}
          <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Remove"></button>
        {% else %}
          <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Add"></button>
        {% endif %}
      </form>
      {% if chart['name'] in watchlist %}
        <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Remove from Watchlist </label>
      {% else %}
        <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Add to Watchlist </label>
      {% endif %}
    </fieldset>
    {% endfor %}
  {% endif %}
  {% if eod_market is defined and eod_market is sameas true %}
    {% for indicator_name, indicator_data in indicator_charts.items() %}
      <h4> {{ indicator_name}} UP </h4>
      {% for chart in indicator_data['up'] %}
        <fieldset>
          <legend>{{ chart['name'] }}</legend>
          <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
          <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
          <br>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="/stk_analysis" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="stk_dt" value="{{ market_dt }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_analysis_{{ chart['name'] }}"> </button>
          </form>
          <label style="text-decoration: underline" for="button_analysis_{{ chart['name'] }}"> Analysis </label>
          &nbsp&nbsp
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="/wl_mgmt" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            {% if chart['name'] in watchlist %}
              <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Remove"></button>
            {% else %}
              <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Add"></button>
            {% endif %}
          </form>
          {% if chart['name'] in watchlist %}
            <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Remove from Watchlist </label>
          {% else %}
            <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Add to Watchlist </label>
          {% endif %}
        </fieldset>
      {% endfor %}
      <h4> {{ indicator_name}} DOWN </h4>
      {% for chart in indicator_data['down'] %}
        <fieldset>
          <legend>{{ chart['name'] }}</legend>
          <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
          <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
          <br>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="stk_analysis" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="stk_dt" value="{{ market_dt }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_analysis_{{ chart['name'] }}"> </button>
          </form>
          <label style="text-decoration: underline" for="button_analysis_{{ chart['name'] }}"> Analysis </label>
          &nbsp&nbsp
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="/wl_mgmt" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            {% if chart['name'] in watchlist %}
              <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Remove"></button>
            {% else %}
              <button type="submit" id="button_wl_mgmt_{{ chart['name'] }}" name="action" value="Add"></button>
            {% endif %}
          </form>
          {% if chart['name'] in watchlist %}
            <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Remove from Watchlist </label>
          {% else %}
            <label style="text-decoration: underline" for="button_wl_mgmt_{{ chart['name'] }}"> Add to Watchlist </label>
          {% endif %}
        </fieldset>
      {% endfor %}
    {% endfor %}
    <form action="/market" method="post">
      <input type="hidden" name="market_name" value="{{ market_name }}">
      <input type="hidden" name="market_date" value="{{ market_date }}">
      <input type="hidden" name="market_dt" value="{{ market_dt }}">
      <button type="submit" name="action" value="start_intraday">Start New Trading Day</button>
    </form>
  {% endif %}

{% endblock %}

