{% extends 'base.html' %}

{% block content %}
  <br>
  <br>
  <br>
  <h3>Market {{ market_name }} </h3>
  <p>The market date is {{ market_date }}, the datetime is {{ market_dt }}</p>
    {% for indicator_name, indicator_data in indicator_charts.items() %}
      <h4> {{ indicator_name}} UP </h4>
      {% for chart in indicator_data['up'] %}
        <fieldset>
          <legend>{{ chart['name'] }}</legend>
          <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
          <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
          <br>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="stk_analysis" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="stk_dt" value="{{ market_dt }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_to_link"> </button>
          </form>
          <label style="text-decoration: underline" for="button_to_link"> Analysis </label>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="wl_mgmt" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_wl_mgmt"> </button>
          </form>
          <label style="text-decoration: underline" for="button_to_link"> Add to Watchlist </label>
        </fieldset>
      {% endfor %}
      <h4> {{ indicator_name}} DOWN </h4>
      {% for chart in indicator_data['down'] %}
        <fieldset>
          <legend>{{ chart['name'] }}</legend>
          <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
          <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
          <br>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="stk_analysis" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="stk_dt" value="{{ market_dt }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_to_link"> </button>
          </form>
          <label style="text-decoration: underline" for="button_to_link"> Analysis </label>
          <form style="display: none" target="_blank" rel="noopener noreferrer" action="wl_mgmt" method="post">
            <input type="hidden" name="stk" value="{{ chart['name'] }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <button type="submit" id="button_wl_mgmt"> </button>
          </form>
          <label style="text-decoration: underline" for="button_to_link"> Add to Watchlist </label>
        </fieldset>
      {% endfor %}
    {% endfor %}
{% endblock %}

