{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} XTC ID Charts {% endblock %}</h1>

  <form method="post">
    <fieldset>
      <label for="stocks">Stock(s)</label>
      <input type="text" name="stocks" placeholder="Stocks" value="{{ stx }}"/>
      <br>
      <label for="dt_date">Date</label>
      <input type="date" name="dt_date" placeholder="Date" value="{{ dt_date }}"/>
      <label for="dt_time">Time</label>
      <input type="text" name="dt_time" placeholder="Time" value="{{ dt_time }}"/><br>
      <label for="num_days">Timeframe (1-30 days)</label>
      <input type="text" name="num_days" placeholder="Days" value="{{ num_days }}"/><br>
      <label for="frequency">Frequency</label>
      <select id="frequency" name="frequency">
        {% for key, value in frequencydict.items() %}
        <option value="{{ key }}" {% if (key == freq) %} selected="selected" {% endif %}> {{ value }} </option>
        {% endfor %}
      </select>
      <br>
    </fieldset>
    <button type="submit" name="action" value="Current">Current</button>
    <button type="submit" name="action" value="Next">Next</button>
  </form>
  {% for chart in charts %}
    <img src="data:image/png;base64,{{ chart['figdata_png'] }}" width="1500">
  {% endfor %}
{% endblock %}
