<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="/trade">
            <fieldset>
                <legend>Trade {{ stk }} </legend>
                <input type="hidden" name="in_price" placeholder="Price" value="{{ current_price }}" />
                <label>In price {{ current_price }}</label>
                <label for="stop_loss">Stop Loss</label>
                <input type="text" name="stop_loss" placeholder="Stop Loss" value="" maxlength="6" style='max-width:100px'/>
                <label for="target">Target</label>
                <input type="text" name="target" placeholder="Target" value="" maxlength="6" style='max-width:100px'/>
            </fieldset>
            <button type="submit" name="action" value="Trade">Trade</button>
        </form>
    </body>
</html>