{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <form method="post" action="/load_market">
        <fieldset>
        <label for="market_name">Select Market</label>
        <select id="market_name" name="market_name">
            {% for mkt in market_list %}
            <option value="{{ mkt }}">{{ mkt }}</option>
            {% endfor %}
        </select>
        </fieldset>
        <button type="submit" name="action" value="Load Market">Load Market</button>
    </form>
    <form method="post" action="/create_market">
        <fieldset>
        <legend> Create New Market</legend>
        <label for="mkt_name">Market Name</label>
        <input type="text" name="mkt_name" placeholder="Market Name" value="{{ mkt_name }}" maxlength="32" style='max-width:120px'/>
        <label for="dt_date">Date</label>
        <input type="date" name="dt_date" placeholder="Date" value="{{ dt_date }}"/>
        <br>
        <label for="refresh_minutes">Refresh After </label>
        <input type="text" name="refresh_minutes" placeholder="" value="{{ refresh_minutes }}" maxlength="2" style='max-width:40px'/>
        <label">Minutes</label>
        <input type="checkbox" id="realtime" name="realtime" checked>
        <label for="realtime">Realtime</label>
        <br>
        <label for="min_up_cs">Min Up CS</label>
        <input type="text" name="min_up_cs" placeholder="MinUpCS" value="{{ min_up_cs }}" maxlength="2" style='max-width:40px'/>
        <label for="max_down_cs">Max Down CS</label>
        <input type="text" name="max_down_cs" placeholder="MaxDownCS" value="{{ max_down_cs }}" maxlength="2" style='max-width:40px'/>
        <br>
        <label for="num_up">Number Up</label>
        <input type="text" name="num_up" placeholder="NumUp" value="{{ num_up }}" maxlength="2" style='max-width:40px'/>
        <label for="num_down">Number Down</label>
        <input type="text" name="num_down" placeholder="NumDown" value="{{ num_down }}" maxlength="2" style='max-width:40px'/>
        <br>
        <label for="min_activity">Min Activity</label>
        <input type="text" name="min_activity" placeholder="MinActivity" value="{{ min_activity }}" maxlength="6" style='max-width:80px'/>
        <br>
        </fieldset>
        <button type="submit" name="action" value="Create Market">Create Market</button>
    </form>
    <form method="post" action="/delete_market">
        <fieldset>
        <label for="market_name">Select Market</label>
        <select id="market_name" name="market_name">
            {% for mkt in market_list %}
            <option value="{{ mkt }}">{{ mkt }}</option>
            {% endfor %}
        </select>
        </fieldset>
        <button type="submit" name="action" value="Delete Market">Delete Market</button>
    </form>
    </div>
{% endblock %}