<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h4>Portfolio</h4>
        <table>
        <tr>
            <th>Stock</th>
            <th>Direction</th>
            <th>Shares</th>
            <th>In Price</th>
            <th>Current Price</th>
            <th>Unrealized PnL</th>
            <th>In Shares</th>
            <th>In Avg Price</th>
            <th>Out Shares</th>
            <th>Out Avg Price</th>
            <th>Realized PnL</th>
        </tr>
        {% for pf_line in portfolio %}
            <tr>
            <td>{{ pf_line[0] }}</td>
            <td>{{ pf_line[1] }}</td>
            <td>{{ pf_line[2] }}</td>
            <td>{{ pf_line[3] }}</td>
            <td>{{ pf_line[4] }}</td>
            <td>{{ pf_line[5] }}</td>
            <td>{{ pf_line[6] }}</td>
            <td>{{ pf_line[7] }}</td>
            <td>{{ pf_line[8] }}</td>
            <td>{{ pf_line[9] }}</td>
            <td>{{ pf_line[10] }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>