<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script id="insert"></script>
    </head>
    <body style="font-family:Arial, Helvetica, sans-serif;">
        <table>
            <tr>
                <td>
                    <form action="/support_resistance" method="POST">
                        <input type="hidden" name="stk" value="{{ stk }}">
                        <input type="hidden" name="market_name" value="{{ market_name }}">
                        <input type="checkbox" id="checkAll" /><br>
                        {% for sr_level in sr_levels %}
                            <input type="checkbox" name="sr_list" value="{{ sr_level[4] }}"> {{ sr_level[0] }} {{ sr_level[1] }} {{ sr_level[2] }} {{ sr_level[3] }}<br>
                        {% endfor %}
                        <button type="submit" name="action" value="sr_delete_selected">Delete Selected</button>
                    </form>
                </td>
                <td>
                    <form action="/support_resistance" method="POST">
                        <input type="hidden" name="stk" value="{{ stk }}">
                        <input type="hidden" name="market_name" value="{{ market_name }}">
                        <table>
                            <tr>
                                <td><label for="dt1">Datetime-1</label></td>
                                <td><input type="text" name="dt1" placeholder="Datetime 1" value="" maxlength="20" style='max-width:125px' /></td>
                                <td><label for="price1">Price-1</label></td>
                                <td><input type="text" name="price1" placeholder="Price 1" value="" maxlength="6" style='max-width:50px' /></td>
                            </tr>
                            <tr>
                                <td><label for="dt2">Datetime-2</label></td>
                                <td><input type="text" name="dt2" placeholder="Datetime 2" value="" maxlength="20" style='max-width:125px' /></td>
                                <td><label for="price2">Price-2</label></td>
                                <td><input type="text" name="price2" placeholder="Price 2" value="" maxlength="6" style='max-width:50px' /></td>
                            </tr>
                            <tr>
                                <td></td><td><button type="submit" name="action" value="sr_add">Add S/R Level</button></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
        <script type="text/javascript">//<![CDATA[
            $(document).ready(function() {
                $("#checkAll").click(function() {
                    var checked = $(this).prop("checked");
                    $("input:checkbox").prop("checked", checked);
                });
            });
        //]]></script>
    </body>
</html>