<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script id="insert"></script>
    </head>
    <body style="font-family:Arial, Helvetica, sans-serif;">
        <input type="checkbox" id="checkAll" />
        <form action="/support_resistance" method="POST">
            <input type="checkbox" name="fruits[]" value="Apple"> Apple</input>
            <input type="checkbox" name="fruits[]" value="Banana"> Banana</input>
            <input type="checkbox" name="fruits[]" value="Orange"> Orange</input>
            <input type="checkbox" name="fruits[]" value="Mango"> Mango</input>
            <button type="submit" name="action" value="delete_selected">Delete Selected</button>
        </form>    
        <script type="text/javascript">//<![CDATA[
            $(document).ready(function() {
            $("#checkAll").click(function() {
                var checked = $(this).prop("checked");
                $("input:checkbox").prop("checked", checked);
            });
            });
        //]]></script>
    </body>
</html>