{% extends 'base.html' %}

{% block content %}
  <p></p>
  {% if 'id1_png' in chart %}
    <img src="data:image/png;base64,{{ chart['id1_png'] }}" width="900">
  {% endif %}
  <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
  <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
  <table>
    <tr>
      <td>
        <form action="/trade" style="display: none" target="trade_iframe" method="post">
        <input type="hidden" name="stk" value="{{ chart['name'] }}">
        <input type="hidden" name="dt" value="{{ dt }}">
        <input type="hidden" name="market_name" value="{{ market_name }}">
        <button type="submit" id="button_trade" name="action" value="init_trade"> </button>
        </form>
        <label style="text-decoration: underline" for="button_trade"> Trade </label>
        <br>
        <iframe name="trade_iframe" style="border: none;"  width="90%%" src=""></iframe>
      </td>
      <td>
        <form action="/support_resistance" style="display: none;" target="sr_iframe" method="post">
        <input type="hidden" name="stk" value="{{ chart['name'] }}">
        <input type="hidden" name="dt" value="{{ dt }}">
        <input type="hidden" name="market_name" value="{{ market_name }}">
        <button type="submit" id="button_sr"> </button>
        </form>
        <label style="text-decoration: underline" for="button_sr"> SR </label>
        <br>
        <iframe name="sr_iframe" style="border: none;" width="90%" src=""></iframe>
      </td>
    </tr>
  </table>
{% endblock %}
