{% extends 'base.html' %}

{% block content %}
  <p></p>
  {% for chart in charts %}
    {% if 'id1_png' in chart %}
      <img src="data:image/png;base64,{{ chart['id1_png'] }}" width="900">
    {% endif %}
    <img src="data:image/png;base64,{{ chart['id_png'] }}" width="900">
    <img src="data:image/png;base64,{{ chart['eod_png'] }}" width="900">
    <br>
    <form style="display: none" target="_blank" rel="noopener noreferrer" action="/trade" method="post">
      <input type="hidden" name="stk" value="{{ chart['name'] }}">
      <input type="hidden" name="stk_dt" value="{{ market_dt }}">
      <input type="hidden" name="market_name" value="{{ market_name }}">
      {% if dt.endswith("16:00:00") %}
        <button type="submit" id="button_trade{{ chart['name'] }}" disabled> </button>
      {% else %}
        <button type="submit" id="button_trade{{ chart['name'] }}"> </button>
      {% endif %}
    </form>
    <label style="text-decoration: underline" for="button_trade_{{ chart['name'] }}"> Trade </label>
  {% endfor %}
{% endblock %}
