<!DOCTYPE html>
<html>
    <head>
    </head>
    <body style="font-family:Arial, Helvetica, sans-serif;">
        {% if portfolio|length > 0 %}
            <table>
                <tr>
                    <th>Stock</th>
                    <th>Direction</th>
                    <th>Shares</th>
                    <th>In Price</th>
                    <th>Current Price</th>
                    <th>PnL</th>
                    <th>Target</th>
                    <th>Stop-Loss</th>
                    <th>RRR</th>
                </tr>
                {% for pf_line in portfolio %}
                <tr>
                    <td>{{ pf_line[0] }}</td>
                    <td>{{ pf_line[1] }}</td>
                    <td>{{ pf_line[2] }}</td>
                    <td>{{ pf_line[3] }}</td>
                    <td>{{ pf_line[4] }}</td>
                    <td>{{ pf_line[5] }}</td>
                    <td>{{ pf_line[6] }}</td>
                    <td>{{ pf_line[7] }}</td>
                    <td>{{ pf_line[8] }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
        {% endif %}

        <form method="post" action="/trade">
            <input type="hidden" name="stk" value="{{ stk }}">
            <input type="hidden" name="dt" value="{{ dt }}">
            <input type="hidden" name="market_name" value="{{ market_name }}">
            <table>
                <tr>
                    <td><label for="crt_price">Current Price</label></td>
                    <td><input type="text" name="current_price" placeholder="Price" value="{{ current_price }}" maxlength="6" style='max-width:100px' /></td>
                    <td></td>
                    <td>Reward-Risk Ratio</td>
                    <td>{{ reward_risk_ratio }}</td>
                </tr>
                <tr>
                    <td><label for="stop_loss">Stop Loss</label></td>
                    <td><input type="text" name="stop_loss" placeholder="Stop Loss" value="{{ stop_loss }}" maxlength="6" style='max-width:100px'/></td>
                    <td></td>
                    <td>Max Profit</td>
                    <td>{{ max_profit }}</td>
                </tr>
                <tr>
                    <td><label for="target">Target</label></td>
                    <td><input type="text" name="target" placeholder="Target" value="{{ target }}" maxlength="6" style='max-width:100px'/></td>
                    <td></td>
                    <td>Max Loss</td>
                    <td>{{ max_loss }}</td>
                </tr>
                <tr>
                    <td><label for="size">Size</label></td>
                    <td><input type="text" name="size" placeholder="Size" value="{{ size }}" maxlength="6" style='max-width:100px'/></td>
                    <td></td>
                    <td>Size Constraint</td>
                    <td>{{ size_explain }}</td>
                </tr>
                <tr>
                    <td><button type="submit" name="action" value="exec_trade">Trade</button></td>
                    <td><button type="submit" name="action" value="risk_mgmt">Risk</button></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </body>
</html>